.fejlec {
    background-image: url(kepek/hero.jpg);
    height: 100vh;
    background-size: cover;
    color: white;
    text-align: center;
}

.tarolo {
    width: 60%;
    margin: auto;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu ul li {
    text-decoration: none;
    color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.sargagomb {
    text-decoration: none;
    color: white;
    border-radius: 20px;
    background-color: rgb(216, 115, 32);
    margin: auto;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.menu ul li a:hover {
    background-color: white;
    color: black;
}

a:hover {
    background-color: white;
    color: black;
}

.menu2 {
    text-align: center;
    background-color: black;
    color: white;
}

.menu2 ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu2 ul li {
    text-decoration: none;
    color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.menu ul li a:hover {
    background-color: white;
    color: black;
}

.menu3 {
    text-align: center;
    background-color: black;
    color: white;
}

.menu3 li {
    text-align: left;
}

img{
    width: 50%;
    text-align: center;
    border-radius: 30px;
    margin: auto;
    padding: 20px;
}

.img {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu4 {
    text-align: center;
    background-color: black;
    color: white;
}

.doboz {
    margin: auto;
    padding: 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}

li {
    text-decoration: none;
    list-style-type: none;
}

.jatek {
    text-align: left;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
}

.esemeny {
    background-color: rgba(169, 169, 169, 0.292);
    color: white;
    border-radius: 20px;
    text-align: left;
    border: 2.5px solid lightgray;
    width: 90%;
}

